.env
.venv/
env/
venv/
ENV/

data/
*.zip
*.tar.gz

checkpoints/
*.pth
*.pt

pycache/
*.py[cod]
*$py.class

.ipynb_checkpoints/

.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

.vscode/
.idea/